.createDiv{
    width: 600px;
    height: 600px;
    border: 1px solid #d7d7d7;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 5px;
    
}

.textAreaDiv >textarea{
    width: 400px;
    height: 115px;
}

.imgDisplay{
    width: 150px;
    height: 150px;
}

.btnDiv{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 17px;
}

.btnDiv >span{
    padding: 10px;
    border: 1px solid #d7d7d7;
    width: 83px;
    background: #6fa4e9;
    color: #FFFFFF;
}